.search-box-template {
    display: flex;
    gap: 5px;
    width: 400px;
    justify-content: flex-end;
    float: inline-end;
}

@media (max-width: 1000px) {
    .search-box-template {
        justify-content: flex-start;
        float: inline-start;
    }
}

.save-layout {
    display: flex;
    gap: 5px;
}

.priority-info {
    background-color: var(--bs-info);
    float: left;
}

.priority-warning {
    background-color: var(--bs-orange);
    float: left;
}

.priority-danger {
    background-color: var(--bs-red);
    float: left;
}

.priority-none {
    background-color: var(--bs-gray);
    float: left;
}

.status-icon {
    width: 0.5rem;
    height: 0.5rem;
}

.status-icon-new {
    background-color: var(--bs-cyan);
}

.status-icon-rejected {
    background-color: var(--bs-red);
}

.status-icon-postponed {
    background-color: var(--bs-gray-600);
}

.status-icon-fixed {
    background-color: var(--bs-green);
}

::deep .time-box{
    width:fit-content;
}

.dxbl-loading-panel {
    max-width: inherit;
}