.page-header {
    display: flex;
    background-color: white;
    height: 7%;
    padding: 5px;
}

::deep .menu-button:hover{
    border-radius: 50px;
    width: 40px;
    height: 40px;
}
::deep .menu-button {
    width: 40px;
    height: 40px;
}
::deep .title {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.flex-space{
    flex-grow:1;
}
.header-item-right {
    display: flex;
    align-items: center;
    gap: 5px;
}
::deep .menu-button-nav {
    border-radius: 100px;
}
@media (max-width: 1000px){
    ::deep .menu-button-nav {
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
    }
    ::deep .menu-button-nav:hover {
        background-color:white;
    }

    ::deep .register {
        text-indent: -9999px;
        background-image: url("images/r-circle.svg");
    }

    ::deep .login {
        text-indent: -9999px;
        background-image: url("images/box-arrow-in-right.svg");
    }

    ::deep .user {
        text-indent: -9999px;
        background-image: url("images/person-circle.svg");
    }

    ::deep .logout {
        text-indent: -9999px;
        background-image: url("images/box-arrow-left.svg");
    }
}