﻿.page {
    height: 100%;
    font-family: var(--bs-font-sans-serif);
}

.header{
    height:50px;
}

::deep .header-menu {
    height: 100%;
}


#menu {
    width: 15rem;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    transition: all 0.5s;
    height: 100%;
    max-height: 100%;
    background: linear-gradient(to bottom, #225886 0%, #2289c4 100%);
    color: white;
}
#expand-menu {
    transition: all 0.5s;
}

::deep .hidden-menu {
    max-width: 20px;
    transition: 0.5s;
}

::deep .content {
    /*transition: margin-left .5s;*/
    object-fit:contain;
    flex-grow: 1;
    width:100%;
    padding:7px;
}
::deep .main {
    display: flex;
    height: 100%;
}

::deep .expand-menu-item {
    background-color: inherit;
    width: 100%;
}

::deep .search-box{
    width:100%;
}

::deep .hidden-menu-item {
    background-color: inherit;
    width: 100%;
}

::deep .hidden{
    display:none;
}


::deep .dxbl-menu-item-tmpl {
    display: flex;
    align-items: center;
}

::deep .LAIP-title {
    color: white;
    font-size:22px;
    padding-left:10px;
}
