﻿.page {
    height: 100%;
    font-family: var(--bs-font-sans-serif);
}

.header {
    height: 48px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: white;
    gap: 5px;
    box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.2), 0 0px 50px 0 rgba(0, 0, 0, 0.19);
}
.header-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
    
}


.toggle-button {
    background-color: currentColor;
}

.title {

    font-size: 22px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flex-space{
    flex-grow:1;
}

.header-item-right {
    justify-content: flex-end;
    color:black;
}
::deep .menu-button-nav{
    border-radius:100px;
}

.body {
    height: 100%;
    display: flex;
}

#side-navbar {
    height: 100%;
    width: 330px;
    box-shadow: inset -140px -8px 30px -100px rgba(0, 0, 0, 0.08);
    transition: all 0.5s;
}
::deep .side-nav-menu {
    background-color: inherit;
    margin-left:3px;
}

#search-box-area {
    transition: all .5s;
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: #ececec;
    box-shadow: -140px 10px 32px -101px rgba(27,17,17,0.75) inset;
    position: relative;
    z-index: -1;
}

::deep .search-box{
    flex-grow:1;
    height:100%;
    background-color:inherit;
}

.navigator {
    height: 3rem;
    background-color: #ececec;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 32px -101px rgba(27,17,17,0.75) inset;
    position: relative;
    z-index: -1;
}
#expanded-menu {
    transition: all .5s;
}
#hidden-menu {
    transition: all .5s;
    display: none;
}
#body {
    height: 100%;
    width: 100%;

}

::deep .icon {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center center;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-color: black;
}
::deep .icon-menu {
    -webkit-mask-image: url("images/menu.svg");
    mask-image: url("images/menu.svg");
}
::deep .toggle-button {
    background-color: white;
    border: white;
    border-radius: 50%/50%;
    font-size: 25px;
    width:40px;
    height:40px;
}

    ::deep .toggle-button:hover {
        background-color:lightblue;
        border: white;
        border-radius: 50%/50%;
        font-size: 25px;
        width: 40px;
        height: 40px;
    }

::deep .icon-search {
    -webkit-mask-image: url("images/search.svg");
    mask-image: url("images/search.svg");
    width:24px;
    height:24px;
    margin-right:4px;
}

::deep .search-button {
    background-color: #ececec;
}


.navigator-item {
    text-decoration: none;
    color: black;
    margin-right: 8px;
}
.content {
    padding: 1.1rem 1.5rem 0 1.5rem;
}