@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <Header ToggleSidebar="(value)=> ToggledSidebar = !value"
            IsToggled="@ToggledSidebar"></Header>
    <Drawer DrawerHeader="drawerHeader" DrawerFooter="drawerFooter">
        <DrawerBody>
            <NavMenu></NavMenu>
        </DrawerBody>
        <DrawerTarget>
            <Navigator/>
            <div class="p-2">
                @Body
            </div>
        </DrawerTarget>
    </Drawer>
</div>

@code {
    [SupplyParameterFromQuery(Name = UrlGenerator.ToggleSidebarName)]
    public bool ToggledSidebar { get; set; }

    private RenderFragment drawerHeader => @<div class="navigation-drawer-header">
        <SearchArea/>
    </div>;
    
    private RenderFragment drawerFooter => @<div class="footer">
        <div>Version: 1.0</div>
        <div>Copyright: © 2024-2025</div>
    </div>;


}