﻿.page {
    height: 100%;
    font-family: var(--bs-font-sans-serif);
}

.header {
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: #225a89;
}
.header-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
}
.toggle-button {
    padding-top: 3px;
    padding-bottom: 3px;
}

.title {
    color: white;
    font-size: 22px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flex-space{
    flex-grow:1;
}

.header-item-right {
    justify-content: flex-end;
}

.body{
    height:100%;
    display:flex;
}

#side-navbar {
    height: 100%;
    width: 15rem;
    background-image: linear-gradient(to bottom, #225886 0%, #2289c4 100%);
    transition: all 0.5s;
}
::deep .side-nav-menu {
    background-color: inherit;
    color: white;
    margin-left:3px;
}

#search-box{
    transition: all .5s;

}
#expanded-menu {
    transition: all .5s;
}
#hidden-menu {
    transition: all .5s;
    display: none;
}
#content{
    height:100%;
    width:100%;
    padding:5px;
}