.navigator {
    height: 51px;
    background-color: #ececec;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top,#e8e8e8 60%, #c6c6c6 100%);
}
.navigator-item {
    text-decoration: none;
    cursor: pointer;
    color: black;
    margin-right: 8px;
}
    .navigator-item:hover {
        color: blue;
    }
